apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    optimal.app: ${APP_NAME}
  name: ${APP_NAME}
spec:
  ports:
    - name: "web"
      port: 80
      targetPort: 8080                         # line 53
  selector:
    optimal.app: ${APP_NAME}
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    optimal.app: ${APP_NAME}
  name: ${APP_NAME}
spec:
  replicas: 2 
  selector:
    matchLabels:
      optimal.app: ${APP_NAME}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        optimal.app: ${APP_NAME}
        team: DevOps
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                optimal.app: ${APP_NAME}
            topologyKey: "kubernetes.io/hostname"
      containers:
        - name: ${APP_NAME}
          envFrom:
            - configMapRef:
                name: ${APP_NAME}-config
          image: ${APP_IMAGE}:latest
          ports:
            - name: web
              containerPort: 8080                       # line 12
              protocol: TCP
          resources:
            limits:
              cpu: 10m
              memory: 56Mi
            requests:
              cpu: 10m
              memory: 56Mi
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 3
            failureThreshold: 2
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      # https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod
      # imagePullSecrets:
      #   - name: pull-registry
      restartPolicy: Always
status: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ${APP_NAME}-config                  # line 49
data:
  REDIS_DSN: redis://redis:6379?timeout=0.5
  REDIS_CLUSTER: redis
  REDIS_RETRY: "2"
  REDIS_TIMEOUT_CONNECTION: "1"
  MONGODB_URL: mongodb://mongodb:27017
  MAILER_URL: smtp://mail-server:1025
  LAST_COMMIT_HASH: "${LAST_COMMIT_HASH}"
  APP_ENV: prod
  JAEGER_AGENT_HOST: tracing-agent.optimalbit.svc.cluster.local
  JAEGER_AGENT_PORT: "6831" 
  JAEGER_SERVICE_NAME: "${APP_NAME}"
  JAEGER_TAGS: "app=${APP_NAME}"
  JAEGER_SAMPLER_TYPE: "const"
  JAEGER_SAMPLER_PARAM: "1"
  JAEGER_SAMPLING_ENDPOINT: http://jaeger-agent.optimalbit.svc.cluster.local:5778/sampling
  JAEGER_REPORTER_LOG_SPANS: "true"
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: ${APP_NAME}-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      optimal.app: ${APP_NAME}
# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: Middleware
# metadata:
#   name: ${APP_NAME}-stripprefix
#   namespace: optimalbit
# spec:
#   stripPrefix:
#     prefixes:
#       - /learn
# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRoute
# metadata:
#   name: ${APP_NAME}-ingress-route
#   namespace: optimalbit
# spec:
#   entryPoints:
#     - web
#   routes:
#     - match: "Host(`k8s.development.local`) && PathPrefix(`/learn`)"
#       kind: Rule
#       services:
#         - name: ${APP_NAME}
#           port: 80                      # line 11
#           namespace: drone              # CI
#       middlewares:
#         - name: ${APP_NAME}-stripprefix # line 118
# ---
