apiVersion: v2
name: learn
description: Helm chart for learn
version: ${CHART_VERSION}
appVersion: ${APP_VERSION}
icon: https://docs.gitea.io/images/gitea.png
sources:
  - https://raw.githubusercontent.com/dxas90/learn/master/logo.png
maintainers:
  - name: Daniel Ramirez
    email: dxas90@gmail.com
keywords:
  - learn
  - ci
